
<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">

		<h2>Change log</h2>		
		<br>

		<b>4/22</b><br>

		 Goals will now establish a start of week and end of week date when pushing a goal to the current week list. It's now querying only goals for the current week. Needs to adjust the goals in the list when viewing dates outside of the week scope (Mon - Sun)

		 <br><br>

		<b>4/17</b><br>

		 Removed Pushed and Completed columns from Goals page.

		 <br><br>

		<b>4/16</b><br>

		 Fixed the date picker on the goals page. Had to update users table with a reminder_token column for a laravel update. Requiring Wiped DB. Fixed logout issue. Fixed the Goals actions bug. 

		<br><br>

		 Restructed directories, deleted unused css/js files. Added Alertify & ui-bootstrap vendors. Setup a requests invite button. Updated the goals datepicker, works but disabled till I can enforce formatting. Alertify on all requests to help with debugging and easier understanding of what's going on. Abstracted out the todo->goal completed interaction a bit, fixed the + and - possible completed goals bug. Made all vendor files local. Formatted views a bit.
		
		<br><br>

		<b>4/15</b><br>
		Changed theme. Added nav, included changelog page. Todos now show a symbol to show when they are from a current goal. 

		</div>
	</div>
	<div class="col-xs-3"></div>
</div>