
<div ng-controller="goalsController">
	<br>
	<div class="row">	
		<div class="col-xs-3"></div>
		<div class="col-xs-9">
			<h1>Goals <small ng-if="remaining()"> ({{ remaining() }}/{{goals.length}})</small></h1>
		</div>
	</div>
	
	<br><br>
	
	<div class="row">		
		<div class="col-xs-3"></div>
  		<div class="col-xs-2">
  			<div class="form-group">	    	
	    		<input type="text" ng-model="search" class="form-control" placeholder="Search">
	  		</div>  			
  		</div>
	</div>

	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<div class="table-responsive">
				<table width="100%" class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Goal</th>
							<th>Due Date</th>
							<th>Completed</th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="goal in goals | filter:search | orderBy:'completed'">
							<td editable-text="goal.title"
								onbeforesave="checkTitle($data)"
								onaftersave="updateGoal(goal)">
							    {{ goal.title }}
							</td>							
							<td editable-date="goal.due_date"
								onbeforesave="checkDueDate($data)"
								onaftersave="updateGoal(goal)">
								{{ goal.due_date }}
							</td>
							<td>
								<input type="checkbox" 
									ng-true-value="1" 
									ng-false-value="0" 
									ng-checked="goal.completed" 																	
									ng-click="completeGoal(goal)">
							</td>							
							<td>
								<button type="button" class="btn btn-danger" ng-click="deleteGoal(goal, $index)"> <i class="fa fa-trash-o"></i> </button>
							</td>
							<td>
								<button type="button" class="btn btn-success" ng-click="pushToTodo(goal)"> <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i> </button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xs-3"></div>
	</div>

	<br>
	
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<form class="form-inline" role="form" ng-submit="addGoal()">
				<div class="form-group">
					<!-- <label for="goal_title">Goal Title</label> -->
				    <input type="text" class="form-control" id="goal_title" ng-model="new_goal_title" placeholder="Enter Goal">
				</div>
				<div class="form-group">
				    <!-- <label for="goal_due_date">Due Date</label> -->
				    <input type="text" class="form-control" id="goal_due_date" ng-model="new_goal_due_date" placeholder="2014-03-23">
				</div>
				<div class="form-group">					
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-xs-3"></div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-4">			
			<?php echo Session::get('email'); ?>
		</div>		
	</div>			
</div>
