
<div ng-controller="todosController">

	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-1">
	    	<span ng-click="decrementDate()"><i class="fa fa-chevron-left fa-2x"></i></span>
	    </div>
	    <div class="col-xs-2">	
	    	<!-- <button class="btn btn-primary" ng-click="decrementDate()"><i class="fa fa-backward"></i></button> -->
	    <!-- </div>
	    <div class="col-xs-2"> -->
	    	<h3 style="display: inline">{{   current_position_fancy   }}</h3>
	    </div>
	    <div class="col-xs-5">
	    <!-- </div>
	   	<div class="col-xs-5"> -->
	   		<span ng-click="incrementDate()">&nbsp;&nbsp;<i class="fa fa-chevron-right fa-2x"></i> </span>			
	    	<!-- <button class="btn btn-primary" ng-click="incrementDate()"><i class="fa fa-forward"></i></button>    	  -->
	   	</div>
	</div>

	<br>
 
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<span ng-hide="todos.length > 0">
				<br>
				<strong>No todos for the day, try adding some!</strong>
			</span>
			<span ng-show="todos.length > 0">
				<div class="table-responsive">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>	
								<th class="col-sm-1"></th>						
								<th class="col-sm-7"></th>																													
								<th class="col-sm-1"></th>		
								<th class="col-sm-1"></th>
								<th class="col-sm-1"></th>	
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="todo in todos | filter:search">
								<td>
									<span class="btn btn-danger" ng-click="deleteTodo(todo)"> <i class="fa fa-trash-o"></i> </span>
								</td>
								<td ng-switch on="todo.completed">
								 	<span style="color:gray; text-decoration:line-through" ng-switch-when="1">
								    	<strong>{{ todo.title }}</strong>
								   	</span>
								   	<span ng-switch-default 
								   		  editable-text="todo.title"
										  onbeforesave="checkTitle($data)"
										  onaftersave="updateTodo(todo)">
								    <strong>{{ todo.title }}</strong>
								   	</span>
								</td>																		
								<td>
									<span class="badge">{{ todo.pushed_times }}</span>		
								</td>
								<td>																				
									<span ng-switch on="todo.completed">
										<span ng-switch-when="1" ng-click="completeTodo(todo)"><i class="fa fa-check-square-o fa-2x"></i> </span>								
										<span ng-switch-default ng-click="completeTodo(todo)"><i class="fa fa-square-o fa-2x"></i> </span>
									</span>	
								</td>
								<td>
									<span ng-switch on="todo.completed">
										<span ng-switch-when="1" style="color:gray"><i class="fa fa-chevron-right fa-2x"></i></span>
										<span ng-switch-default ng-click="pushTodo(todo)"><i class="fa fa-chevron-right fa-2x"></i></span>									
									</span>																														
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</span>
		</div>
		<div class="col-xs-2"></div>
	</div>

	<br>
	
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<form class="form-inline" role="form" ng-submit="addTodo()">
				<div class="form-group">
					<!-- <label for="goal_title">Goal Title</label> -->
				    <input type="text" class="form-control" id="todo_title" ng-model="new_todo_title" placeholder="New Todo">
				</div>				
				<div class="form-group">					
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-xs-3"></div>
	</div>

	<br>

	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-4">			
			<?php echo Session::get('email'); ?>
		</div>		
	</div>			
</div>
